@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Kanit', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background:rgb(200,200,200);
	background-size: cover;
	font-family: sans-serif;
	height: 100%;
}
.tapa{
	display: flex;
	position: relative;
}

.tapa .Barra{
	position: fixed;
	width: 20%;
	height: 100%;
	background:#b6985e;
	padding: 1%;	
}

.tapa .Barra h2 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1%;
	font-size: 200%;
}

.tapa .Barra ul li{
	padding: 1.5% 10% 1.5% 3%;
	border-bottom: 0.1% solid rgba(0,0,0,0.05);
	border-top: 0.1% solid rgba(225,225,225,0.05);

}

.tapa .Barra ul li a{
	color: white;
	display: block;
	text-decoration: none;
	font-size: 100%;
}

.tapa .Barra ul li a .fas {
	width: 10%;
}

.tapa .Barra ul li a .far {
	width: 10%;
}

.tapa .Barra ul li:hover {
	background-color:rgb(200,200,200);
}

.tapa .Barra ul li:hover a {
	color:#293e6b;
}

.tapa .contenido {
	color: #717171;
	display: inline-block;
	padding-top: 0%;
	margin-left: 20%;
	width: 100%;
	margin-left: 20%;
	padding:0% 0% 0% 0%;
}

.tapa .contenido .navbar li{
	float: left;
	padding: 1.5% 0% 1% 3%;
	list-style: none;
}

.tapa .contenido .navbar a{
	text-decoration: none;
	font-family: 'Kanit', sans-serif;
	color:white;
	font-size: 120%;
}

.tapa .contenido .navbar ul li:hover a {
	color: #b6985e;
}

h1{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

h3{
    text-align: center;
    margin-bottom: 1%;
}

.row-md-6 {
	float: right;
	padding: 1.3% 3% 0% 0%;
	text-decoration: none;
	font-family: 'Kanit', sans-serif;
	color: #023d0e;
	font-size: 120%;
}

.navbar{
	position: absolute;
	display: block;
	background-color: #293e6b;
	width: 80%;
	padding:0% 2% 1%;
}
.tapa .formularios{
	width: 100%;
	padding:10% 5%;
}

#save{
	margin:0% 45%;
}

.unam{
	display: inline;
	float: right;
	width: 7%;
	padding: 1% 0% 0% 0%;
}

.fesa{
	display: inline;
	float:left;
	width: 7%;
	padding: 1% 0% 0% 0%;
}

.unam img{
	width: 100%;
}

.fesa img{
	width: 100%;
}

.titulo{
	display: inline;
	float: left;
}
